name: Weekly API docs build

on:
  schedule:
    - cron: 0 0 * * MON
  workflow_dispatch:

jobs:
  build:
    uses: pmmp/ApiDocsBuildAction/.github/workflows/build-docs.yml@1.0.3
    with:
      src-repo: pmmp/PocketMine-MP
      ref: major-next
      pm-version-major: 5
